@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .container-main {
    @apply max-w-[1170px] mx-auto px-6;
  }
  .btn {
    @apply font-secondary font-medium text-white py-3 px-5 sm:py-[20px] sm:px-[50px] hover:bg-primary rounded-5 active:scale-95 border-2 hover:border-primary border-borderColor bg-transparent duration-300 ease-linear outline-none text-sm sm:text-base;
  }
  .title {
    @apply font-primary text-[#000c35] text-5xl sm:text-6xl font-semibold;
  }
  .underline-effect {
    @apply relative  after:absolute after:duration-300 after:bottom-0 after:left-0 after:w-0 after:hover:w-20 after:h-[2px] after:bg-amber-300;
  }
}
body {
  overflow-x: hidden;
}
.slick-slide {
  /* margin: 0px 5px; */
  padding: 1rem;
}
.slick-dots li button::before {
  font-family: "slick";
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  /* color: black; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #fff;
}
